@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-helvetica: "HelveticaNow", sans-serif;
  --font-instrument: "InstrumentCustom", serif;
  --font-inter: "Inter", sans-serif;
}

@font-face {
  font-family: "HelveticaNow";
  src: url("./assest/font/HelveticaNeueLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNow";
  src: url("./assest/font/HelveticaNeueRoman.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNow";
  src: url("./assest/font/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "InstrumentCustom";
  src: url("./assest/font/InstrumentSerif-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}